

.App {
  height: 100%;
}

.AppCircularProgress {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}
.AppToolbar {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
}
.AppTypographyP {
  font-weight: bold;
}
