/*
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}
*/

.AppCircularProgress {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}
.AppToolbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.AppTypographyP {
  font-weight: bold;
}
